* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, serif;
}

body {
    display: flex;
    flex-direction: column;

    margin: 0px;
    background-color: #83A298;
    padding: 0px;
    min-height: 100vh;
    width: 100%;
}

.query-form {
    overflow: hidden;
    background-color: #BCCDC7;
    margin: 0px;
    flex: 2;
}

.history a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.history a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    flex-grow: 1;
    background-color: #83A298;
}

.text {
    background-color: #ffffff;
    margin: 0px 0px 10px;
    font-size: 10pt;
    border: 1px solid gray;
    padding: 1px 2px;
    width: auto;
    height: auto;
}

.just-text {
    text-align: justify;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: #BCCDC7;
    margin: 0px 20px;
}

.info-left {
    background-color: #BCCDC7;
    margin: 0px 15px 0px 0px;
    flex: 2;
}

.info-right {
    background-color: #BCCDC7;
    margin: 0px;
    flex: 2;
}

#genotifyheader {
    margin: 0px;
    padding: 0px;
}

#hit-div, #db-div {
    background-color: #BCCDC7;
    margin: 0px;
    flex: 2;
}

.split-div {
    display: flex;
    background-color: #BCCDC7;
    padding: 10px;
    margin: 0px;
}

#summary-div {
    background-color: #BCCDC7;
    margin: 0px;
    flex: 4;
    padding: 10px;
}

.flex-rule {
    padding: 0px;
    width: 100%;
}

.header {
    background-color: #516C63;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    color: #ffffff;
}

.footer {
    background-color: #1F372F;
    padding: 10px;
    margin: 0px;
    color: #ffffff;
    width: 100%;
    display: flex;
    font-size: 10pt;
}

.hidden {
    display: none;
}

.sect-header {
    margin: 5px 5px 0px;
}
