* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial", serif;
}

body {
    margin: 0px;
    background-color: #83A298;
    padding: 0px;
    min-height: 100%;
    width: 100%;
}


/* Style query form */

.queryform {
    overflow: hidden;
    background-color: #BCCDC7;
    margin: auto;
    padding: 10px;
    margin: 20px 20px 0px;
}


/* Style the past search links */

.history a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change color on hover */

.history a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    background-color: #83A298;
}


/* Style the info */

.info {
    background-color: #BCCDC7;
    padding: 10px;
    margin: 0px 20px;
}


/* Style the header */

.header {
    background-color: #516C63;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    color: #ffffff;
}

.footer {
    background-color: #1F372F;
    padding: 10px;
    margin: 0px;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#genotifyheader {
    margin: 0px;
    padding: 0px;
}


/* For label hiding */

.hidden {
    visibility: hidden;
}
