* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial", serif;
}

body {
    margin: 0px;
    background-color: #83A298;
    padding: 0px;
    min-height: 100%;
    width: 100%;
}

/* Style query form */

.queryform {
    overflow: hidden;
    background-color: #BCCDC7;
    margin: 0px;
    flex: 2;
}



/* Style the past search links */

.history a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



/* Change color on hover */

.history a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    background-color: #83A298;
}

.text {
    background-color: #ffffff;
    margin: 0px;
    font-size: 10pt;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding: 1px 2px;
    text-align: justify;
    width: auto;
    height: auto;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #BCCDC7;
    margin: 0px 20px;
}

.info {
    background-color: #BCCDC7;
    margin: 0px;
    flex: 2;
}

#genotifyheader {
    margin: 0px;
    padding: 0px;
}

#hitDiv {
    background-color: #BCCDC7;
    margin: 0px;
    flex: 2;
}

.splitDiv {
    display: -webkit-flex;
    display: flex;
    background-color: #BCCDC7;
    padding: 10px;
    margin: 0px;
}

#summaryDiv {
    background-color: #BCCDC7;
    margin: 0px;
    flex: 4;
    padding: 10px;
}

.flex-rule {
    padding: 0px;
    width: 100%;
}

.header {
    background-color: #516C63;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    color: #ffffff;
}

.footer {
    background-color: #1F372F;
    padding: 10px;
    margin: 0px;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* For label hiding */

.hidden {
    display: none;
}

.addlink {}