svg {
  overflow: hidden;
}

.up_pftv_buttons {
  display: table-cell;
  padding: 0 0.5em 0 0.5em;
  width: 180px;
  text-align: right;
  vertical-align: bottom;
  position: relative;
}

.bottom-aa-container {
  display: table;
  width: 100%;
}

.up_pftv_credit_container {
  display: table-cell;
  vertical-align: top;
  width: 180px;
  padding: 0 0.5em;
}

.up_pftv_credit {
  font-size: 0.9em;
  color: grey;
}

.up_pftv_credit::after {
  content: "";
  background: url(../SVG/info.svg);
  background-size: 0.9em 0.9em;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.up_pftv_category-container {
  position: relative;
  border-right: 2px solid #b2f5ff;
  border-top: 1px solid #b2f5ff;
}

.up_pftv_category-container svg {
  cursor: move;
}

.up_pftv_container {
  position: relative;

  /* width: 670px; */
  color: #557071 !important;
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif !important;
  font-size: 13px !important;
  line-height: 1.5 !important;
}

.up_pftv_container a,
.up_pftv_container a:link,
.up_pftv_container a:hover,
.up_pftv_container a:active,
.up_pftv_container a:visited {
  color: #557071 !important;
  border: none;
  text-decoration: none !important;
}

.up_pftv_container h4 {
  font-size: 1em !important;
  font-weight: 500 !important;
  border-bottom: 1px solid #cacaca;
  margin-bottom: 0.7em;
}

.up_pftv_keepWithPrevious {
  margin-top: 0;
}

.up_ptfv_pp-container {
  display: inline-block;
  margin: 5em 0 0 0.5em;
  vertical-align: top;
}

.up_pftv_navruler {
  margin-left: 178px;
}

.up_pftv_navruler svg {
  vertical-align: bottom;
  font-size: 14px;

  /* background-color: #FDF7EF; */
}

/* Category and type tracks */
.up_pftv_category {
  margin-bottom: 0.1em;
  border-bottom: 0.1em solid #b2f5ff;
  display: table;
  width: 100%;
}

.up_pftv_category-name,
.up_pftv_track-header {
  font-weight: 400;
  line-height: 2.1em;
  width: 180px;
  vertical-align: bottom;
  padding: 0.5em;
  border: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.up_pftv_category-name {
  background-color: #b2f5ff;
  display: table-cell;
  cursor: pointer;
}

.up_pftv_category a:hover {
  background-color: #80eeff;
  border-bottom: none;
  text-decoration: none;
}

.up_pftv_track-header {
  display: table-cell;
  background-color: #d9faff;

  /* line-height: 1.6em;
  margin: .05em 0; */
}

.up_pftv_category-viewer,
.up_pftv_track,
.up_pftv_aaviewer {
  position: relative;
  vertical-align: bottom;

  /* width: 760px; */
}

.up_pftv_track {
  display: table-cell;
  border-top: 1px #b2f5ff solid;
}

.up_pftv_aaviewer {
  display: table-cell;
}

.up_pftv_category-viewer {
  display: table-cell;
}

.up_pftv_category-viewer svg,
.up_pftv_track svg,
.up_pftv_aaviewer svg {
  vertical-align: bottom;
}

.up_pftv_track-header-container {
  vertical-align: top;
  margin-top: 1px;
  background-color: #d9faff;
}

.up_pftv_category-tracks {
  display: table-row;
}

.up_pftv_category-name.up_pftv_arrow-right::before {
  content: ' ';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #333;
  margin-right: 5px;
}

.up_pftv_category-name.up_pftv_arrow-down::before {
  content: ' ';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  margin-right: 5px;
}

.up_pftv_category-disabled {
  opacity: 0;
  display: none;
}

/* Ruler */
.up_pftv_navruler .axis {
  font-size: 12px;
}

.up_pftv_navruler line,
.up_pftv_navruler path {
  fill: none;
  stroke: black;
}

.up_pftv_aaviewer path {
  display: no;
}

.up_pftv_navruler .up_pftv_viewport {
  fill: #d7dce0;
  fill-opacity: 0.4;
}

.up_pftv_navruler path.up_pftv_trapezoid {
  fill: #d7dce0;
  stroke: none;
  fill-opacity: 0.4;
}

.up_pftv_highlight,
.up_pftv_amino_acid_selector {
  fill: #ffe999;
  fill-opacity: 1;
}

.up_pftv_navruler .handle {
  fill: #d7dce0;
  fill-opacity: 1;
  stroke: #000;
  stroke-width: 1px;
}

.up_pftv_navruler .handle:hover {
  fill-opacity: 1;
}

.up_pftv_aaviewer text {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
}

.up_pftv_feature {
  cursor: pointer;
  fill-opacity: 0.6;
}

.up_pftv_feature:hover {
  fill-opacity: 0.9;
}

.up_pftv_activeFeature {
  fill-opacity: 0.9 !important;
}

.up_pftv_variation-chart .up_pftv_block-area {
  fill: lightgrey;
  stroke: none;
}

.up_pftv_variation-chart .up_pftv_block-area:hover {
  fill: darkslategrey;
  cursor: pointer;
}

.up_pftv_variation-chart .up_pftv_line {
  fill: none;
  stroke: darkgrey;
  stroke-width: 1px;
}

.up_pftv_variation-chart .up_pftv_line:hover,
.up_pftv_variation-chart .up_pftv_line:hover + .up_pftv_block-area {
  stroke: darkslategrey;
  cursor: pointer;
}

/* Dialogs */

.up_pftv_dialog-container {
  margin: 0;
  padding: 0;
}

.up_pftv_dialog-container li a {
  display: block;
  line-height: 2em;
  padding: 0 0.2em;
  cursor: pointer;
}

.up_pftv_legend {
  vertical-align: sub;
  width: 1.5em;
  display: inline-block;
  height: 1em;
  border-radius: 0.4em;
  border: 2px solid #ababab;
  margin-right: 0.5em;
}

.up_pftv_legend_double {
  height: 3em !important;
}

.up_pftv_legend_text {
  line-height: 2em;
  display: inline-block;
  vertical-align: top;
}

/* Close button */
.up_pftv_tooltip-close {
  color: #fff;
  background-color: #333;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  font-size: 14px !important;
  text-align: center;
  border: 1px solid #fff;
}

/* Tooltip */
.up_pftv_tooltip-pin-container {
  display: inline-block;
  float: left;
  padding: 4px 10px 0 0;
}

/* .up_pftv_icon-frame {
  border-radius: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 1px solid;
  margin: .2em;
} */

.up_pftv_iconContainer-unpinned {
  background-color: lightgrey !important;
  color: black !important;
}

.up_pftv_iconContainer-unpinned:hover {
  background-color: grey !important;
}

.up_pftv_iconContainer-pinned {
  background-color: black !important;
  color: white !important;
}

.up_pftv_tooltip-container,
.up_pftv_popupDialog-container {
  z-index: 50000;
  position: absolute;
  opacity: 0;
  display: none;
}

.up_pftv_tooltip-container {
  min-width: 220px;
}

.up_pftv_popupDialog-container {
  border: 1px solid #557071;
  background-color: #fff;
  padding: 0.5em;
  min-width: 210px;
  text-align: left;
  font-size: 13px;
}

.up_pftv_popupDialog-container table {
  border: 0;
  background-color: #fff;
  width: 100%;
}

.up_pftv_popupDialog-container td {
  padding: 0.2em;
  margin: 0;
}

.up_pftv_popupDialog-container td:first-child {
  font-size: small;
}

.up_pftv_tooltip-container table {
  font-size: 13px;
  border: 2px solid #ccc;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
}

.up_pftv_tooltip-container table th {
  text-transform: capitalize;
  font-weight: 400;
  white-space: nowrap;
  letter-spacing: 0.05em;
  font-size: 1.1em;
  background-color: #595959;
  line-height: 2em;
  padding: 0 0.7em;
  color: #fff;
  text-align: center;
}

.up_pftv_tooltip-container table a {
  text-decoration: underline !important;
}

.up_pftv_tooltip-container table td {
  padding: 0.4em;
  margin: 0;
  border: 1px solid #ccc;
}

.up_pftv_tooltip-container td:first-child {
  font-weight: bold;
}

.up_pftv_tooltip-container .up_pftv_evidence-col {
  background-color: #fff;
}

.up_pftv_tooltip-container .up_pftv_evidence-source {
  background-color: #fff;
}

.up_pftv_tooltip-container .up_pftv_section {
  background-color: #b3b3b3;
  text-align: center;
}

.up_pftv_tooltip-container .up_pftv_subsection {
  color: black;
}

/* Features */
svg .up_pftv_chain {
  stroke: #c93;
  fill: #c93;
}

svg .up_pftv_transit {
  stroke: #096;
  fill: #096;
}

svg .up_pftv_init_met {
  stroke: #963;
  fill: #963;
}

svg .up_pftv_propep {
  stroke: #9cc;
  fill: #9cc;
}

svg .up_pftv_peptide {
  stroke: #069;
  fill: #069;
}

svg .up_pftv_signal {
  stroke: #c03;
  fill: #c03;
}

svg .up_pftv_turn {
  stroke: #0571af;
  fill: #0571af;
}

svg .up_pftv_strand {
  stroke: #fc0;
  fill: #fc0;
}

svg .up_pftv_helix {
  stroke: #f06;
  fill: #f06;
}

svg .up_pftv_crosslnk {
  stroke: #f60;
  fill: #f60;
}

svg .up_pftv_disulfid {
  stroke: #23b14d;
  fill: #23b14d;
}

svg .up_pftv_region {
  stroke: #b33e00;
  fill: #b33e00;
}

svg .up_pftv_coiled {
  stroke: #069;
  fill: #069;
}

svg .up_pftv_motif {
  stroke: #402060;
  fill: #402060;
}

svg .up_pftv_repeat {
  stroke: #90f;
  fill: #90f;
}

svg .up_pftv_ca_bind {
  stroke: #f39;
  fill: #f39;
}

svg .up_pftv_dna_bind {
  stroke: #093;
  fill: #093;
}

svg .up_pftv_domain {
  stroke: #99f;
  fill: #99f;
}

svg .up_pftv_zn_fing {
  stroke: #906;
  fill: #906;
}

svg .up_pftv_np_bind {
  stroke: #f90;
  fill: #f90;
}

svg .up_pftv_metal {
  stroke: #090;
  fill: #090;
}

svg .up_pftv_site {
  stroke: #603;
  fill: #603;
}

svg .up_pftv_binding {
  stroke: #069;
  fill: #069;
}

svg .up_pftv_act_site {
  stroke: #f66;
  fill: #f66;
}

svg .up_pftv_mod_res {
  stroke: #006;
  fill: #006;
}

svg .up_pftv_lipid {
  stroke: #9c3;
  fill: #9c3;
}

svg .up_pftv_carbohyd {
  stroke: #c36;
  fill: #c36;
}

svg .up_pftv_variant {
  stroke-width: 2;
}

svg .up_pftv_compbias {
  stroke: #f36;
  fill: #f36;
}

svg .up_pftv_mutagen {
  stroke: #f90;
  fill: #f90;
}

svg .up_pftv_conflict {
  stroke: #63c;
  fill: #63c;
}

svg .up_pftv_non_cons {
  stroke: #f03;
  fill: #f03;
}

svg .up_pftv_non_ter {
  stroke: #393;
  fill: #393;
}

svg .up_pftv_unsure {
  stroke: #3f0;
  fill: #3f0;
}

svg .up_pftv_non_std {
  stroke: #306;
  fill: #306;
}

svg .up_pftv_topo_dom {
  stroke: #c00;
  fill: #c00;
}

svg .up_pftv_transmem {
  stroke: #c0c;
  fill: #c0c;
}

svg .up_pftv_intramem {
  stroke: #00c;
  fill: #00c;
}

svg .up_pftv_unique {
  stroke: #fc3133;
  fill: #fd5a5d;
}

svg .up_pftv_non_unique {
  stroke: #8585fc;
  fill: #5a60fb;
}

svg .up_pftv_antigen {
  stroke: #969;
  fill: #969;
}

/* Variation */
.up_pftv_variants-svg .axis path {
  display: none;
}

.up_pftv_variants-svg .axis text {
  font-size: 10px;
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
}

.up_pftv_variants-svg .variation-y.axis line {
  stroke: #ccc;
  opacity: 0.4;
}

.up_pftv_variants-svg .variation-x.axis line {
  stroke: #000;
}

.up_pftv_variants-svg circle.main-seq {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;

  /* display: none; */
}

.up_pftv_variants-svg .main-sequence {
  fill: green;
}

.up_pftv_variants-svg circle {
  cursor: pointer;
  fill-opacity: 0.6;
}

.up_pftv_variants-svg .up_pftv_variant_hidden {
  cursor: default;
  opacity: 0;
}

.up_pftv_variants-svg circle:hover {
  fill-opacity: 0.9;
}

.up_pftv_dialog_checkboxLabel {
  opacity: 0.9;
}

.up_pftv_dialog_checkboxLabel:hover {
  cursor: pointer;
  opacity: 1;
}

.up_pftv_message_wrapper {
  margin: 0.7em;
}

/* Taken from http://www.karimnassar.com/code/web/css-icons/ */
.up_pftv_icon,
.up_pftv_icon::before,
.up_pftv_icon::after {
  position: relative;
  padding: 0;
  margin: 0;
}

.up_pftv_icon {
  font-size: 20px;
  color: transparent;
}

.up_pftv_icon.up_pftv_warning {
  display: inline-block;
  top: 0.225em;
  width: 1.15em;
  height: 1.15em;
  overflow: hidden;
  border: none;
  background-color: transparent;
  border-radius: 0.625em;
}

.up_pftv_icon.up_pftv_warning::before {
  content: "";
  display: block;
  top: -0.08em;
  left: 0;
  position: absolute;
  border: transparent 0.6em solid;
  border-bottom-color: #fd3;
  border-bottom-width: 1em;
  border-top-width: 0;
  box-shadow: #999 0 1px 1px;
}

.up_pftv_icon.up_pftv_warning::after {
  display: block;
  position: absolute;
  top: 0.3em;
  left: 0;
  width: 100%;
  padding: 0 1px;
  text-align: center;
  content: "!";
  font-size: 0.65em;
  font-weight: bold;
  color: #333;
}

/* ICONS */
a.up_pftv_icon-button:hover {
  border: 1px solid #9ca8b4 !important;
}

.up_pftv_icon-button {
  border: 1px solid #d7dce0 !important;
  border-radius: 2.5em;
  display: inline-block;
  text-indent: -9999px;
  width: 2.5em;
  height: 2.5em;
  background-size: 1.3em 1.3em !important;
  background-repeat: no-repeat !important;
  background-position: 0.6em 0.6em !important;
  margin: 0.2em;
}

.up_pftv_icon-download {
  background: url(../SVG/download.svg);
}

.up_pftv_icon-location {
  background: url(../SVG/location.svg);
}

.up_pftv_icon-zoom-in {
  background: url(../SVG/zoom-in.svg);
}

.up_pftv_icon-zoom-out {
  background: url(../SVG/zoom-out.svg);
}

.up_pftv_icon-reset {
  background: url(../SVG/reset.svg);
}

.up_pftv_icon-info {
  background: url(../SVG/info.svg);
}

.up_pftv-clear {
  clear: both;
}
